
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blanchedalmond;
}

#borde {
    width: 90%;
    height: 100%;
    margin-right: Auto;
    margin-left: auto;
}

#cabecera {
    background-color: rgb(141, 206, 44);
    padding: 50px;
    height: 50px;
}

.textoc {
    margin-left: 100px;
    }

.textoc::first-line {
    
    color: brown;
}

#navegador{
    
    background-color: aquamarine;
    padding: 5px;
}
#navegador li {
    border-right: 1px solid blue;
    display: inline-block;
    list-style: none;
}

#cuerpo {
    float: left;
    background-color: rgb(199, 139, 82);
    margin: 20px;
    width: 800px;
    height: 700px;
}

#cuerpo footer {
    border: 1px solid orange;
    background-color: orange;
    margin-top: 20px;
}

#infopag{
    border: 1px solid orange;
    background-color: orange;
}

#imagen {
    border: 2px solid orangered;
    border-radius: 5px 5px 5px 5px;
    background-color: orangered;
    height: 200px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px

}

#columna {
    background-color: white;
    margin: 20px;
    float: left;
    width: 300px;
    height: 700px;
}

/*SIGUEME*/
#columna header .filasigueme {
 background-color: gray;

}

#columna header .fila2 ul li {
    display: inline-block;
    width: 100px;
}
/*CURSO*/

#columna section .filacurso {
    background-color: gray;
    margin-top: 30px;
}

#columna section article img {
    width: 300px;
}
/*CONTENIDO*/

#columna footer .filacontenido {
    background-color: gray;
    margin-top: 30px;
}

#columna footer article ul {
    margin-left: 20px;
    color: blue;
}