
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: blanchedalmond;
}

#borde {
    border: 3px solid black;
    width: 100%;
    height: 100%;
}

#cabecera {
    background-color: rgb(141, 206, 44);
    padding: 50px;
    height: 50px;
}

.textoc {
    margin-left: 100px;
    }

.textoc::first-line {
    
    color: brown;
}

#navegador{
    width: 100%;
    background-color: aquamarine;
}
#navegador li {
    border: 1px solid blue;
    display: inline-block;
    list-style: none;
}

#cuerpo {
    float: left;
    background-color: rgb(199, 139, 82);
    margin: 20px;
    width: 1400px;
    height: 700px;
}

#cuerpo footer {
    border: 1px solid orange;
    background-color: orange;
    margin-top: 20px;
}

#infopag{
    border: 1px solid orange;
    background-color: orange;
}

#imagen {
    border: 2px solid orangered;
    border-radius: 5px 5px 5px 5px;
    background-color: orangered;
    height: 200px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px

}

#columna {
    background-color: white;
    margin: 20px;
    float: left;
    width: 423px;
    height: 700px;
}