/*Selectores que solo afectan a las etiquetas a y p*/

a, p {
    font-size: 18px;
}

/*Todos los enlaces que esten dentro de una capa*/

div a {
    color: red;
}

/*todos los div cuyo id sea capa1*/

div#capa1 {
    background-color: blue;
}

/*El punto es para las clases*/

.letragrande {
    font-size: 22px;
}

.nosubrayado {
    text-decoration: none;
}

/*cuando ponemos : es una subclase y se activa el CSS.
hover: Cuando ponemos el raton encima.
link: Cuando no hemos visitado el enlace.
visited: Cuando ya hemos visitado el enlace.
activo: Mientras esta siendo selecccinado.
*/

.encima:hover {
    background: yellow;
}

/*Subclase con p y miparrafo esto aplica a la primera linea un CSS*/

p#miparrafo:first-line {
    color: blue;

/*Aplica el css a la primera letra del párrafo*/
p#miparrafo:first-letter {
        color: red;
        font-size: 30px;
}

/* con el * esto segnifica que lo aplica a todo*/

* {
    background: green;
}

/*Todos los enlaces que esten dentro de una capa padre (En este caso es un div)*/

div > a {
    font-style: italic;
}

/*Añadir estilos que tiene esa capa con class*/

div.capa2 {
    border: 1px solid black;
}

/*El ^ significa comienza, en este caso un enlace que empeice por https - a[atributo$="argumentos"]*/

a[href^="https"] {
    color: green;
}

/*Todos los enlaces o cadena de texto que termine en PDF*/

a[href$="pdf"] {
    color: brown;
}

/*Aplica el CSS al los parrafo cuya alineación sea center*/
p[aling="center"] {
    color: blueviolet;

}

/*Aplicarle estilos a los parrafor que vayan justo detras de un div*/

div+p {

    font-size: 50px;
}

/*Más Selectores: https://code.tutsplus.com/es/tutorials/the-30-css-selectors-you-must-memorize--net-16048 */